:root {
  background: #111;
  color: #fff;
  font-family: System, sans-serif;
}

body {
  text-align: center;
  margin: 0;
  height: 100vh;
}

.page {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-flow: column nowrap;
  align-items: center;
}

/* canvas */
#view {
  width: 100%;
  max-height: calc(100vh - 50px);
  object-fit: contain;
}

.controls {
  display: none;
}

.controls button {
  border: none;
  background: #333;
  color: #fff;
  font-size: calc(4vw + 10px);
  margin: 1px;
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
}

@media (orientation: portrait) {
  .page {
    align-content: flex-start;
    flex-wrap: wrap;
  }
  #view {
    order: 0;
    width: calc(100% - 10px);
    flex-shrink: 0;
    align-self: flex-start;
  }
  [class^='controls'] {
    flex-basis: 50%;
    align-self: stretch;
    height: auto;
  }
}

@media (min-width: 500px) {
  .controls {
    display: none;
  }
}

.main-menu {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0px;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  margin-top: 4rem;
}

.lastScore {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
